<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block head_title %}flashbox{% endblock %}</title>

  {% include "css.html" %}
  </head>

  <body>

    {% include "navbar.html"%}
{% if request.user.is_authenticated %}
    {% block jumbotron %}
    {% endblock %}
{% else %}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Album de Fotos</h1>
        <p class="lead text-muted">Flashbox te permite subir tus propias imagenes, manteniendolas en un respositorio. Tabmien puedes mandar tus imagenes a un grupo de editores profesionales para que editen tus fotos por ti.  </p>
        
      </div>
    </section>
    {% endif %}

    <div class="container">
      {% block content %}
      {% endblock%}
    </div>

    {% block album %}
    {% endblock %}


    <footer class="text-muted">

    </footer>

    {% include "javascript.html" %}
  </body>
</html>
